node_modules/
lib/
dist/
build/
!applications/electron/build/
!applications/electron/build/**
out/
plugins/
*.log
.DS_Store
Thumbs.db
*.code-workspace
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.browser_modules/
site/
e2e-artifacts/
e2e/artifacts/
